<html>
<body>

<main>
  <div class="form">
<div id="<%= dom_id student %>">
  <p class="pp">
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p class="pp">
    <strong>Email:</strong>
    <%= student.email_id %>
  </p>

  <p class="pp">
    <strong>UIN:</strong>
    <%= student.uin %>
  </p>

  <p class="pp">
    <strong>Employment status:</strong>
    <%= student.employment_status %>
  </p>

  <p class="pp">
    <strong>Is Undergrad:</strong>
    <%= student.is_undergrad %>
  </p>

  <p class="pp">
    <strong>Courses completed:</strong>
    <%= student.courses_completed %>
  </p>

  <p class="pp">
    <strong>Resume:</strong>
    <%= student.resume %>
  </p>

  <p class="pp">
    <strong>Transcript:</strong>
    <%= student.transcript %>
  </p>


  <p class="pp">
    <strong>Application status:</strong>
    <%= student.application_status %>
  </p>


  <p class="pp">
    <strong>Assigned courses:</strong>
    <%= student.assigned_courses %>
  </p>

  <p class="pp">
    <strong>Assigned sections:</strong>
    <%= student.assigned_sections %>
  </p>


  <p class="pp">
    <strong>Feedback:</strong>
    <%= student.feedback %>
  </p>
</div>
</div>
</main>
</body>
</html>
