<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= student.contact %>
  </p>

  <p>
    <strong>Employment status:</strong>
    <%= student.employment_status %>
  </p>

  <p>
    <strong>Is undergrad:</strong>
    <%= student.is_undergrad %>
  </p>

  <p>
    <strong>Courses completed:</strong>
    <%= student.courses_completed %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= student.resume %>
  </p>

  <p>
    <strong>Transcript:</strong>
    <%= student.transcript %>
  </p>

  <p>
    <strong>Access level:</strong>
    <%= student.access_level %>
  </p>

  <p>
    <strong>Application status:</strong>
    <%= student.application_status %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= student.comments %>
  </p>

  <p>
    <strong>Assigned courses:</strong>
    <%= student.assigned_courses %>
  </p>

  <p>
    <strong>Assigned sections:</strong>
    <%= student.assigned_sections %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= student.rating %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= student.feedback %>
  </p>

</div>
