<html>

<body>
  <div class="headers">
    <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
    <h1>Student Applications</h1>
    <span>
    <%= form_tag(students_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag ("Search") %></span>
    <% end %>
  </div>
  <header>
    <div class='container'>
      <nav>
        <ul>
          <li><%=link_to "Home", '/students'  %></li>
          <li><%=link_to "Assign Subjects", '/subjects'  %></li>
          <li><%=link_to "Assign Professors", '/professors/new'  %></li>
          <li><%= link_to "Log out", '/users/user/login', :style=> 'position:absolute; margin-left:60%;', :method => "get" %></li>
        </ul>
      </nav>
    </div>
  </header>

  <br>
<main>
  <%= render 'shared/flashes' unless flash.nil?%>
<table id="tables">
  <tr>
    <th width='1%', align="center"><%= link_to "Name", :sort => "name"%> </th>
    <th width='1%', align="center"><%= link_to "Email", :sort => "email_id"%> </th>
    <th width='1%', align="center"><%= "UIN"%> </th>
    <th width='1%', align="center"><%= "Undergraduate"%> </th>
    <th width='1%', align="center"><%= "Campus Job"%> </th>
    <th width='1%', align="center"><%= "Resume"%> </th>
    <th width='1%', align="center"><%= "Transcript"%> </th>
    <th width='1%', align="center"><%= link_to "Application Status", :sort => "application_status"%> </th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td width='1%', align="center"><%=link_to student.name, students_path(method: :get,:search => student.name)%></td>
      <td width='1%', align="center"><%=student.email_id %></td>
      <td width='1%', align="center"><%=student.uin %></td>
      <td width='1%', align="center"><%=student.is_undergrad %></td>
      <td width='1%', align="center"><%=student.employment_status %></td>
      <td  width='1%', align="center"><%=link_to "Click", student.resume, :target => "_blank" %></td>
      <td  width='1%', align="center"><%=link_to "Click",student.transcript, :target => "_blank" %></td>
      <td width='1%', align="center"><%= form_with(model: student) do |form| %>
          <div>
            <%= form.select :application_status, ['review', 'hired', 'rejected', 'applied'], :selected => student.application_status%>
            <%= hidden_field_tag(:students_page,true) %>
            <%= form.submit "Update" %>
          </div><br>
        <% end %></td>
    </tr>
  <% end %>
</table>

  <%= paginate @students %>


</main>
</body>
</html>