<html>
  <body>
    <div class="headers">
      <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
      <h1>TA Application Form</h1>
    </div>
    <header>
      <div class='container'>
        <nav>
          <ul>
            <li><%=link_to "Home", root_url  %></li>
          </ul>
        </nav>
      </div>
    </header>

     <p class="pp">
      <strong>Application Status:</strong>
      <%= @student.application_status %>
    </p>
    <%= render 'shared/flashes' unless flash.nil?%>

  <% if @student.application_status == "not applied" %>
    <%= render "form", student: @student %>
  <% elsif @student.application_status == "hired" %>
    <strong><%=link_to "Check your schedule", new_student_path(@user)  %></strong>
  <% else %>
    <p class="pp">
      <strong>Message:</strong>
      You will be notified once your application is reviewed and accepted
    </p>
  <% end %>

   
  </body>
<br>
</html>
