<%= form_with(model: user) do |form| %>
    <div>
      <div>
      <%= form.label :name, style: "display: block" %><br>
      <%= form.text_field :name %>
      </div><br>
      <div>
      <%= form.label :access_level, style: "display: block" %><br>
      <%= form.select :access_level, ["TA", "Professor","Hiring Manager","Coordinator"] %>
      </div><br>
      <div>
      <%= form.label :email_id, style: "display: block" %><br>
      <%= form.text_field :email_id %>
      </div><br>
      <div>
      <%= form.label :password, style: "display: block" %><br>
      <%= form.text_field :password %>
      </div><br>
      <div>
      <%= form.label :confirm_password, style: "display: block" %><br>
      <%= form.text_field :confirm_password %>
      </div><br>
      <div>
      <%= form.submit "Create Account" %>
      </div>
    </div>
<% end %>
