<html>

<body>
<div class="headers">
  <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
  <h1>User Info</h1>
</div>
<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <li><%= link_to "Edit Profile", edit_user_path(current_user), method: "delete" %></li>
      </ul>
    </nav>
  </div>
</header>
   
<main>
<h1>Welcome, <%= "#{@user.name}" %> </h1>
  <div class="form">

<div id="<%= dom_id user %>">
  <p class="pp">
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p class="pp">
    <strong>Email:</strong>
    <%= user.email_id %>
  </p>

  <p class="pp">
    <strong><%=link_to "Apply for TA Position", new_student_path(@user)  %></strong>
    
  </p>

</div></div>
</main>
</body>
</html>

