<html>

<body>
<div class="headers">
  <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
  <h1>TA Info</h1>
</div>
<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <li><%= link_to "Edit Profile", edit_user_path(current_user), method: "delete" %></li>
        <li>
          <% if current_user[:access_level] == 'admin'%>
            <td><%= link_to "Admin portal", admin_path(user) %></td>
          <% end %>
        </li>
                <li>
          <% if current_user[:access_level] == 'Professor'%>
            <td><%= link_to "View TAs", "/professors/#{@user.id}" %></td>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
   
<main>
<h1>Welcome, <%= "#{@user.name}" %> </h1>
  <div class="form">

<div id="<%= dom_id user %>">
  <p class="pp">
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p class="pp">
    <strong>Email:</strong>
    <%= user.email_id %>
  </p>
  
  <% if @user.access_level == "TA" %>
    <% if @student2.nil? || @student2.application_status == "not applied"%>
      <p class="pp">
        <strong><%=link_to "Check Status / Apply for TA Position", new_student_path(@user)  %></strong>
      </p>
    <% elsif @student2.application_status == "applied" %>
      <p class="pp">
        <strong>Message:</strong>
        You already applied. Please, await decision from the admin
      </p>
    <% elsif @student2.application_status == "rejected" %>
        <p class="pp">
          <strong>Message:</strong>
          Sorry, your application is rejected.
        </p>
    <% elsif @student2.application_status == "hired" %>
        <p>You have been assigned to: Professor <strong> <%= @professor.name %>'s</strong> <%= @student2.assigned_courses[0] %>, <%= @student2.assigned_sections[0] %> section.</p>
        <% body = "Howdy Professor #{@professor.name},\n\nMy name is #{@user.name}, and I have been assigned as a TA for your course: #{@student2.assigned_courses} #{@student2.assigned_sections}.\n\nThank you.\n#{@user.name}" %>
        <a href="mailto:<%= @professor.email_id %>?subject=TA%20Request&body=<%= body %>" class="btn btn-primary">Email Professor</a>

    <% end %>
  <% end %>
</div></div>
</main>
</body>
</html>

