<div class="headers">
  <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em", align: "left") %>
  <h1>Admin</h1>
  <span>
</div>
<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%=link_to "Log Out", '/users/user/login',:style=> 'align:center',:method => "get" %></li>
      </ul>
    </nav>
  </div>
</header>
<div><h2><strong> Hiring Manager</h2> </strong>
  <table id="tables">
    <tr>
      <th width='1%' , align="center"><%= link_to "Name", :sort => "name" %> </th>
      <th width='1%' , align="center"><%= link_to "Email", :sort => "email_id" %> </th>
    </tr>


    <% @hiringManager.each do |hiringManager| %>
      <tr>
        <td width='1%' , align="center"><%=link_to hiringManager.name, "/users/#{hiringManager.id}"%></td>
        <td width='1%' , align="center"><%= hiringManager.email_id %></td>
      </tr>
    <% end %>

  </table>
</div>
  <div>
    <h2><strong> Coordinator</h2> </strong>
      <table id="tables">
        <tr>
          <th width='1%' , align="center"><%= link_to "Name", :sort => "name" %> </th>
          <th width='1%' , align="center"><%= link_to "Email", :sort => "email_id" %> </th>
        </tr>


        <% @coordinator.each do |coordinator| %>
          <tr>
            <td width='1%' , align="center"><%= link_to coordinator.name, "/users/#{coordinator.id}" %></td>
            <td width='1%' , align="center"><%= coordinator.email_id %></td>
          </tr>
        <% end %>

      </table>
  </div>
      <br>
      <br>
      <h2><strong> Add new Management </h2> </strong>
      <div class="form__items1">
        <%= form_with(model: User) do |form| %>
          <%= form.label :Name %>
          <%= form.text_field :name, placeholder: "First and Last Name"%>
          <%= form.label :Email %>
          <%= form.text_field :email_id%>
          <%= form.label :Password %>
          <%= form.text_field :password%>
          <%= form.label :Confirm_Password %>
          <%= form.text_field :confirm_password%>
          <%= form.select :access_level, options_for_select([["Hiring Manager"], ["Coordinator"]]) %>
          <%= hidden_field_tag(:admin, true) %>
          <%= submit_tag "Add" %></span>
        <% end %>
      </div>