<div class="headers">
  <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em", align: "left") %>
  <h1>Admin | View All Users</h1>
  <span>
</div>
<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%= link_to "Log Out", "/logout",:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "Upload Schedule", schedules_path,:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "View Schedule", view_path,:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "View All Users", users_path,:style=> 'align:center',:method => "get" %></li>
      </ul>
    </nav>
  </div>
</header>

<h1>All Users</h1>



<table>
<tr>
    <th>Name</th>
    <th>Email Address</th>
    <th>Access Level</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user['name'] %></td>
            <td><%= user['email_id'] %></td>
            <td><%= user['access_level'] %></td>
            <% if current_user[:access_level] == 'admin'%>
              <td><%= link_to "delete", user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure" } %></td>
            <% end %>
            <td><%= "#" %></td>
        </tr>
    <% end %>
</table>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
