<html>
  <body>
  <div class="headers">
    <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
    <h1>Login</h1>
  </div>

  <header>
    <div class='container'>
      <nav>
        <ul>
          <li><%=link_to "Home", '/'  %></li>
          <li><%=link_to "Not registered? Sign Up Here", '/users/new'  %></li>
        </ul>
      </nav>
    </div>
  </header>
  <%= render 'shared/flashes' unless flash.nil?%>

  <div class="form">

    <%= form_with(model: @user) do |form| %>
      <div class="form__items">

          <div>
          <div class="form__lable"><%= form.label :email_id, style: "display: block" %></div>
          <div class="form__input"><%= form.text_field :email_id %></div>
          </div><br>

          <div>
          <div class="form__lable"><%= form.label :password, style: "display: block" %></div>
          <div class="form__input"><%= form.password_field :password %></div>
          </div><br>

          <div>
          <%= form.submit "Login", id:"submit" %>
          </div>
      </div>
    <% end %>
  </div>
  </body>
</html>


