<div class="headers">
  <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em", align: "left") %>
  <h1>Admin</h1>
  <span>
</div>
<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%= link_to "Home", "/admin",:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "Upload Schedule", schedules_path,:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "View Schedule", view_path,:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "View All Users", users_path,:style=> 'align:center',:method => "get" %></li>
        <li><%= link_to "Log Out", "/logout",:style=> 'align:center',:method => "get" %></li>
      </ul>
    </nav>
  </div>
</header>

<% if notice != nil %>
    <div class="ui green message"><%= notice %></div>
<% end %>

<div class="ui centered card", style="margin-top: 100px;">
    <div class="ui card">
    <div class="content">
        <div class="header">Schedule:
        <%= @schedules.count %></div>
    </div>
    <div class="content">
            <%= form_with url: import_schedules_path, method: :post do |form| %>
            <%= form.file_field :file, accept: ".csv"%>
            <%= form.button "Import Schedule", :class => "ui green button", :style => "margin-top: 20px;" %>
        <% end %>
    </div>
    </div>
</div>
