<div class="headers">
  <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em", align: "left") %>
  <h1>Admin</h1>
  <span>
</div>
<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%= link_to "Home", "/admin",:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "Upload Schedule", schedules_path,:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "View Schedule", view_path,:style=> 'align:center',:method => "get" %></li>
        <li><%=link_to "View All Users", users_path,:style=> 'align:center',:method => "get" %></li>
        <li><%= link_to "Log Out", "/logout",:style=> 'align:center',:method => "get" %></li>
      </ul>
    </nav>
  </div>
</header>

<div class="ui padded segment">
  <h2 class="ui header">
    <div class="content">
      Schedule
      <div class="sub header">View all class schedules</div>
    </div>
  </h2>
  <% if @skipped_rows.any? %>
    <% skipped_rows_msg = "The following TA are not registered: " %>
    <% @skipped_rows.each do |row| %>
      <%  # skipped_rows_msg ||= "" %>
      <% skipped_rows_msg += row.inspect + "; " %>
    <% end %>
    <h2 style="color: red;"> <%= skipped_rows_msg %> </h2>
  <% end %>

  <table class="ui striped red fixed single line celled table">
  <thead>
    <tr>
        <th>Code</th>
        <th>Course_id</th>
        <th>Section</th>
        <th>Lecture Day</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Instructor</th>
        <th>Instructor Email</th>
        <th>PT 1</th>
        <th>PT 2</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
        <tr>
            <td><%= schedule['code'] %></td>
            <td><%= schedule['course_id'] %></td>
            <td><%= schedule['section'] %></td>
            <td><%= schedule['lecture_day'] %></td>
            <td><%= schedule['start_time'] %></td>
            <td><%= schedule['end_time'] %></td>
            <td><%= schedule['professor'] %></td>
            <td><%= schedule['professor_email'] %></td>
            <td><%= schedule['students'][0] %></td>
            <td><%= schedule['students'][1] %></td>
        </tr>
    <% end %>
  </tbody>
  </table>

  <%= button_to "Remove all schedules", @schedule, method: :delete, :class => "ui negative basic button", :id => "remove"%>
</div>