<html>

<body>
<div class="headers">
  <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
  <h1>Professor Info</h1>
</div>
<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <li><%= link_to "Edit Profile", edit_user_path(current_user), method: "delete" %></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="form">
<div id="<%= dom_id professor %>">
  <p class="pp">
    <strong>Course list:</strong>
    <%= @student.assigned_courses %>
  </p>

  <p class="pp">
    <strong>Course section:</strong>
    <%= @student.assigned_sections %>
  </p>

  <p class="pp">
  <strong>TA:</strong>
  <%= @student.user.name %>
  </p>

  <p class="pp">
  <strong>TA Email:</strong>
  <%= @student.user.email_id %>
  </p>

  <p class="pp">
  <strong>Feedback</strong>
  <%= @student.feedback %>
  </p>

  <button class="pp"><%=link_to "View Details", students_path(method: :get,:search => @student.id)%></button>

<form>
  <textarea cols="40" id="students_review" name="students[review]"rows="15"></textarea>
  <button type="submit" onClick="/professors/#{professor.id}">Submit Review</button>
</form>
</div>
 </div>
</main>
</body>
</html>