<div id="<%= dom_id professor %>">
  <p>
    <strong>Course list:</strong>
    <%= professor.course_list %>
  </p>

  <p>
    <strong>Course section:</strong>
    <%= professor.course_section %>
  </p>

  <p>
  <strong>TA:</strong>
  <%= @student.name %>
  </p>

  <p>
  <strong>TA Email:</strong>
  <%= @student.email_id %>
  </p>

  <textarea cols="30" id="review" name="student_review"
 rows="10"></textarea>

 <%= button_to "Submit Review", '', :method => "get" %>


 </div>
