<h1>Editing subject</h1>

<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%=link_to "Home", '/students'  %></li>
        <li><%=link_to "Subjects", '/subjects'  %></li>
        <li><%=link_to "Show this Subject", @subject  %></li>
      </ul>
    </nav>
  </div>
</header>
<%= render 'shared/flashes' unless flash.nil?%>
<%= render "form", subject: @subject %>

