<html>
<body>
  <div class="headers">
    <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
    <h1>Assign Courses to Hired TA</h1>
    <p style="color: green"><%= notice %></p>
  </div>

  <header>
    <div class='container'>
      <nav>
        <ul>
          <li><%=link_to "Home", '/students'  %></li>
          <li><%=link_to "Students", '/students'  %></li>
          <li><%=link_to "New Subject", '/subjects/new'  %></li>
          <li><%=link_to "Assign Professors", '/professors/new'  %></li>
          <li><%=link_to "Log out", '/users/user/login',:style=> 'position:absolute; margin-left:50%;',:method => "get" %></li>
        </ul>
      </nav>
    </div>
  </header>

  <br>
<main>
<table id="tables">
  <tr>
    <th width='1%', align="center"><%= "Name"%> </th>
    <th width='1%', align="center"><%= "Email"%> </th>
    <th width='1%', align="center"><%= "UIN"%> </th>
    <th width='1%', align="center"><%= "Course name"%> </th>
    <th width='1%', align="center"><%= "Course section"%> </th>
    <th width='1%', align="center"> Actions</th>
  </tr>
  <% @students_selected.each do |student| %>
    <tr>
      <td width='1%', align="center"><%=link_to student.name, students_path(method: :get,:search => student.name)%></td>
      <td width='1%', align="center"><%=student.email_id %></td>
      <td width='1%', align="center"><%=student.uin %></td>
      <%= form_with(model: student) do |form| %>
        <td width='1%' , align="center">
          <div>
            <%= form.select :assigned_courses, options_for_select(@course_name, student.assigned_courses) %>
          </div>
          <br>
        </td>
        <td width='1%' , align="center">
             <div class="checkbox-wrapper" <%= form.collection_check_boxes :subjects, Subject.all, :id, :course_section %>
          </div>
          <br>
        </td>
        <td width='1%', align="center">
          <%= form.submit "Update" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


</main>
</body>
</html>
