<p style="color: green"><%= notice %></p>

<%= render @management %>

<div>
  <%= link_to "Edit this management", edit_management_path(@management) %> |
  <%= link_to "Back to managements", managements_path %>

  <%= button_to "Destroy this management", @management, method: :delete %>
</div>
